.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
}

.logo {
  justify-content: flex-start;
  color: white;
}
.logo-AR {
  color: red;
}

.links {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.links a:hover {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  border: 1px solid white;
}
